html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--page-bg);
  color: var(--text-color);
  font-family: var(--font-main);
}
p {
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  color: #737b7d;
  letter-spacing: 0.3px;
}
.h1,
h1 {
  font-size: 64px;
  line-height: 110%;
  /* or 70px */
  letter-spacing: -1.46526px;
  margin-bottom: 24px;
}
.h2,
h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  /* or 40px */
  letter-spacing: -1px;
  margin-bottom: 24px;
}
.h3,
h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -1px;
}
