html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--page-bg);
	color: var(--text-color);
	font-family: var(--font-main);
}

.h1,
h1 {
	font-size: 64px;
	line-height: 110%;
	/* or 70px */
	letter-spacing: -1.46526px;
}
