html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  background: rgb(247, 249, 252);
  background: rgb(247, 249, 252);
  background: linear-gradient(
    225deg,
    rgba(247, 249, 252, 1) 0%,
    rgba(247, 249, 252, 1) 50.3%,
    rgba(255, 255, 255, 1) 0,
    rgba(255, 255, 255, 1) 70%,
    rgba(247, 249, 252, 1) 70%,
    rgba(247, 249, 252, 1) 100%
  );
  overflow-x: hidden;

  color: var(--text-color);
  font-family: var(--font-main);
  @media screen and (max-width: 768px) {
    background: linear-gradient(
      225deg,
      rgba(255, 255, 255, 1) 0,
      rgba(255, 255, 255, 1) 70%,
      rgba(247, 249, 252, 1) 70%,
      rgba(247, 249, 252, 1) 100%
    );
  }
}
