.container {
  padding: 0 var(--container-padding);
  max-width: var(--container-width);
  margin: 0 auto;
  max-width: var(--container-max-width);
  @media screen and (max-width: 1000px){
    padding: 0 45px;
  }
}



.container-top {
  background: url("./../img/bg-top.jpg") no-repeat center top;
  background-size: cover;
}
.container__fluid {
  max-width: var(--max-width-content);
  margin: 0 auto;
}
.main-layout {
  position: relative;
  overflow: hidden;
  &__rect {
    position: absolute;
    width: 2440px;
    height: 2440px;
    background: #fff;
    transform: rotate(45deg);
    top: -5.6875em;
    left: calc(50% - 22.375em);
  }
}
