.languages {
  background: var(--white-bg);
  height: 56px;
  width: 170px;
  margin-left: 16px;
  display: flex;
  justify-content: center;
  &__item {
    display: flex;
    align-items: center;

    & img {
      border-radius: 50%;
    }

    &:not(:last-child) {
      margin-right: 12px;
    }
    &_current {
      .languages__text {
        color: rgba(6, 37, 91, 1);
        text-decoration: underline;
      }
    }
  }
  &__text {
    font-size: 15px;
    line-height: 18px;
    margin-left: 6px;
    color: rgba(6, 37, 91, 0.4);
  }
}
