.banner {
  color: var(--text-color-white);
  position: relative;
  padding: 129px 0 340px;
  @media screen and (max-width: 1000px) {
    padding: 196px 0 330px;
  }
  p {
    color: var(--text-color-white);
  }
  &__container {
    padding: 0 46px;
    @media screen and (max-width: 1440px) {
      padding: 0 44px;
    }
  }
  &__header {
    margin-bottom: 24px;
  }
  &__info {
    p {
      font-size: 25px;
      font-weight: 400;
      line-height: 31.5px;
      letter-spacing: 0;
      margin-bottom: 23px;
      @media screen and (max-width: 1440px) {
        font-size: 23px;
      }
      @media screen and (max-width: 1280px) {
        font-size: 20px;
        font-weight: 400;
        line-height: 22px;
      }
      @media screen and (max-width: 1000px) {
        margin-bottom: 27px;
      }
    }
    @media screen and (max-width: 1000px) {
      max-width: 406px;
      br {
        display: none;
      }
    }
  }
  &__rect-orange {
    position: absolute;
    width: 618.97px;
    height: 618.97px;
    background: rgb(218 93 36 / 80%);
    transform: rotate(45deg);
    z-index: 5;
    transform-style: preserve-3d;
    left: calc(50% + 681px);
    top: 36px;
    @media screen and (max-width: 1440px) {
      left: calc(50% + 654px);
    }
    @media screen and (max-width: 1280px) {
      left: calc(50% + 481px);
    }
    @media screen and (max-width: 1000px) {
      left: calc(50% + 463px);
      top: 222px;
    }
    &::before,
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      transform: translateZ(-1px);
    }
    &::before {
      right: 17px;
      bottom: 19px;
      border: 1px solid rgb(255 124 64 / 80%);
    }
    &::after {
      left: 20px;
      bottom: -18px;
      border: 1px solid rgb(255 255 255 / 80%);
    }
  }
  &__buttons {
    margin-top: 37px;
  }
  &__serve-btn {
    margin-right: 14px;
  }

  &__rhombus {
    background: #06255bcc;
    font-weight: 900;
    transform: rotate(45deg);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;

    &-text {
      transform: rotate(-45deg);
      margin-bottom: 0;
      font-weight: 900;
    }
    transform-style: preserve-3d;
    &::before {
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;

      transform: translateZ(-1px);
    }
    &_ganzheitlich {
      border: 8px solid #ffffff;
      width: 160px;
      height: 160px;
      top: 91px;
      left: calc(50% + 354px);
      p {
        font-size: 21px;
      }
      @media screen and (max-width: 1440px) {
        width: 144px;
        height: 144px;
        left: calc(50% + 330px);
      }
      @media screen and (max-width: 1280px) {
        width: 130px;
        height: 130px;
        left: calc(50% + 260px);
        top: 122px;
      }
      @media screen and (max-width: 1000px) {
        left: calc(50% + 195px);
        top: 341px;
      }
      &::before {
        border: 1px solid #fff;
        bottom: 16px;
        right: 16px;
        height: 150px;
        width: 150px;
        @media screen and (max-width: 1440px) {
          width: 135px;
          height: 135px;
        }
        @media screen and (max-width: 1280px) {
          width: 120px;
          height: 120px;
        }
      }
    }
    &_agil {
      height: 134px;
      width: 134px;
      border: 9px solid #06255b;
      top: 279px;
      left: calc(50% + 172px);
      p {
        font-size: 22px;
      }
      @media screen and (max-width: 1440px) {
        width: 120px;
        height: 120px;
      }
      @media screen and (max-width: 1280px) {
        width: 110px;
        height: 110px;
        left: calc(50% + 128px);
      }
      @media screen and (max-width: 1000px) {
        left: calc(50% + 68px);
        top: 479px;
        p {
          font-size: 18.31px;
          font-weight: 900;
          line-height: 15.56px;
        }
      }
      &::before {
        width: 124.64px;
        height: 124.64px;
        border: 1px solid #ff7c40;
        top: 15px;
        right: 15px;
        @media screen and (max-width: 1440px) {
          width: 111px;
          height: 111px;
        }
        @media screen and (max-width: 1280px) {
          width: 99px;
          height: 99px;
        }
      }
    }
    &_zuver {
      width: 187px;
      height: 187px;
      top: 409px;
      left: calc(50% + 340px);
      border: 10px solid #da5d24;
      background: rgba(6, 37, 91, 0.8);
      p {
        font-size: 24px;
      }
      @media screen and (max-width: 1440px) {
        width: 168px;
        height: 168px;
        left: calc(50% + 316px);
      }
      @media screen and (max-width: 1280px) {
        width: 155px;
        height: 155px;
        left: calc(50% + 249px);
      }
      @media screen and (max-width: 1000px) {
        left: calc(50% + 182px);
        top: 586px;
        p {
          font-size: 19.97px;
          font-weight: 900;
          line-height: 16.98px;
        }
      }

      &::before {
        border: 1px solid #ffffff;
        height: 177px;
        width: 177px;
        left: 15px;
        top: 15px;
        @media screen and (max-width: 1440px) {
          width: 160px;
          height: 160px;
        }
        @media screen and (max-width: 1280px) {
          height: 141px;
          width: 141px;
        }
      }
    }
  }
}
