.benefit {
  position: relative;
  z-index: 2;
  padding: 170px 0;

  @media screen and (max-width: 1000px) {
    padding: 170px 0 87px;
  }

  @media screen and (max-width: 768px) {
    padding: 113px 0 87px;
  }

  &__container {
    @media screen and (max-width: 1000px) {
      padding: 0 44px;
    }

    @media screen and (max-width: 768px) {
      padding: 0 16px;
    }
  }

  &__header {
    display: grid;
    grid-template-columns: 460px 1fr 1fr;
    column-gap: 26px;
    max-width: 1380px;
    margin-bottom: 84px;

    @media screen and (max-width: 1440px) {
      grid-template-columns: 380px 1fr 1fr;
    }

    @media screen and (max-width: 1280px) {
      grid-template-columns: 302px 1fr 1fr;
    }

    @media screen and (max-width: 1000px) {
      grid-template-columns: 240px 1fr 1fr;
      column-gap: 17px;
      margin-bottom: 58px;

      br {
        display: none;
      }
    }

    @media screen and (max-width: 768px) {
      display: block;
      padding-right: 60px;
      margin-bottom: 31px;
    }

    & p {
      flex-grow: 1;
    }
  }

  &__content {
    position: relative;
  }

  .slick-dots {
    bottom: -70px;
  }

  &__item {
    &-wrap {
      display: flex;

      @media screen and (max-width: 768px) {
        display: block;
      }
    }

    &-header {
      margin-bottom: 44px;

      @media screen and (max-width: 1000px) {
        margin-bottom: 18px;
      }
    }

    &-image {
      // flex-shrink: 0;
      margin-right: 18px;
      height: 558px;

      @media screen and (max-width: 1000px) {
        height: 292px;
        width: 800px;
        margin-right: 20px;
      }

      @media screen and (max-width: 768px) {
        height: 214px;
      }

      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }

    &-content {
      padding-top: 252px;
      width: 386px;

      @media screen and (max-width: 1280px) {
        padding-top: 204px;
      }

      @media screen and (max-width: 1000px) {
        padding-top: 36px;
      }

      @media screen and (max-width: 768px) {
        width: unset;
        padding-top: 13px;
      }
    }

    &-text {
      font-size: 16px;
      font-weight: 400;
      line-height: 20.8px;
      letter-spacing: 0.30000001192092896px;
      max-width: 319px;

      @media screen and (max-width: 1000px) {
        font-size: 14px;
        font-weight: 400;
        line-height: 19.6px;
        letter-spacing: 0.30000001192092896px;
      }
    }
  }

  &__paginations {
    max-width: 1007px;
    z-index: 3;
    position: absolute;
    right: 0;
    top: 0;

    @media screen and (max-width: 1000px) {
      position: static;
      max-width: 100%;
    }

    @media screen and (max-width: 768px) {
      display: none;
    }

    &-wrap {
      display: flex;
      background: #fff;
      box-shadow: 0px 20px 50px 0px #06255b0f;
      padding: 19px 57px 19px 28px;

      @media screen and (max-width: 1000px) {
        padding: 14px 57px 7px 29px;
      }
    }

    &-item {
      padding: 0 24px;
      max-width: 193px;

      @media screen and (max-width: 1000px) {
        padding: 0 16px 0 16px;
        max-width: 186px;
      }

      &_visited {

        .benefit__paginations-content p,
        p {
          color: rgba(47, 48, 52, 1);
        }

        .benefit__paginations-plus {
          svg {
            fill: rgba(47, 48, 52, 1);
          }
        }
      }
    }

    &-item:not(:last-of-type) {
      border-right: 1px dashed #a8acad;
    }

    &-num {
      max-width: 37px;
      margin-bottom: 17px;

      @media screen and (max-width: 1000px) {
        max-width: 30px;
        margin-bottom: 10px;

        svg {
          max-width: 14px;
        }
      }
    }

    &-val {
      font-size: 17px;
      font-weight: 700;
      line-height: 17px;
      letter-spacing: 0.30000001192092896px;
      color: #a8acad;
      margin-bottom: -4px;

      @media screen and (max-width: 1000px) {

        font-size: 14px;
        font-weight: 700;
        line-height: 14px;
        letter-spacing: 0.22224430739879608px;

      }
    }

    &-plus {
      text-align: right;

      svg {
        fill: #a8acad;
      }
    }

    &-content {
      p {
        font-size: 20px;
        font-weight: 600;
        line-height: 17px;
        letter-spacing: -1px;
        color: #a8acad;

        @media screen and (max-width: 1000px) {
          font-size: 16px;
          font-weight: 600;
          line-height: 13.6px;
          letter-spacing: -0.7408143281936646px;

        }
      }
    }

    &-button {
      &_left {
        margin-left: 144px;
      }
    }
  }

  &__paginations-buttons {
    @media screen and (max-width: 1280px) {
      display: none;
    }
  }
}