.broad {
  position: relative;
  padding-top: 290px;
  z-index: 8;
  background: url(./../img/broad-bg.png) no-repeat center bottom;
  background-size: 100% 119px;
  @media screen and (max-width: 1280px) {
    padding-top: 232px;
  }
  &__content {
    p {
      font-family: "Mulish";
      font-size: 17px;
      font-weight: 800;
      line-height: 17px;
      letter-spacing: 0.1px;
      color: #2f3034;
    }
  }

  &__header {
    text-align: center;
    color: #000000;
  }
  &__info {
    text-align: center;
    margin-bottom: 73px;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 0 auto;
    @media screen and (max-width: 1280px) {
      display: block;
    }
  }
  &__item {
    border: 1px solid #e2e2e2;
    padding: 55px 38px;
    height: 488px;
    @media screen and (max-width: 1440px) {
      padding: 20px;
      height: 430px;
    }
    &-number {
      width: 38px;
      margin-bottom: 175px;
      &-val {
        text-align: left;
        /* 01 */
        font-weight: 800;
        font-size: 17px;
        line-height: 100%;
        letter-spacing: 0.3px;
        margin-bottom: 0;
        color: #da5d24;
        margin-bottom: -3px;
      }
      &-plus {
        text-align: right;
      }
    }
    &_5 {
      background: url(./../img/broad-item.jpg) no-repeat center;
      background-size: cover;
      box-shadow: 0px 15px 90px 0px #132f4f40;

      p {
        color: #fff;
      }
    }
  }
}
