.btn {
  padding: 18px 35px;

  font-weight: 600;
  font-size: 15px;
  line-height: 18px;

  letter-spacing: 0.3px;
  box-sizing: border-box;

  &-primary {
    background: var(--primary-color);
    color: var(--text-color-white);
    &:hover {
      background: var(--primary-color-hover);
    }
  }
  &-secondary {
    background: #06255b99;
    border: 2px solid #fff;
    color: #fff;
    padding: 16px 20px;
    &:hover {
      background: #fff;
      color: #06255b;
    }
  }
  &-info {
    background: #fff;
    color: #06255b;
    &:hover {
      background-color: #abb5c7;
      color: #fff;
    }
  }
}
.btn-sm {
  font-size: 13px;
  line-height: 13px;
  font-weight: 600;
  line-height: 15.6px;
  background: #ff7c40;
  color: #fff;
  box-shadow: 0px 4px 10px 0px #2c0b0b26;
  border-radius: 13px;
  padding: 4px 12px;
  &:hover {
    box-shadow: 0px 4px 5px 0px #2c0b0b0d;
    background: #da5d24;
  }
}
