.header {
  padding: 47px 0;

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 86px;
    position: relative;
    z-index: 6;
    @media screen and (max-width: 1440px) {
      margin-left: 30px;
    }
  }
  @media screen and (max-width: 1200px) {
    &__menu {
      display: none;
    }
    &__row {
      height: 56px;
    }
    &__contact-us {
      display: none;
    }
  }
  &__right {
    display: flex;
    align-items: center;
    // margin-top: 26px;
  }
}

.mobile-nav-btn {
  width: 107px;
  height: 56px;
  background: #fff;
  margin-left: 1px;
  display: none;
  transition: ease 0.5s all;
  @media screen and (max-width: 1200px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__wrap {
    position: relative;
    width: 32px;
    height: 24px;
  }
  span {
    display: block;
    height: 4px;
    width: 33px;
    background-color: #2f3034;
    border-radius: 4px;
    position: absolute;
    right: 0;
    transition: ease 0.5s all;
    &:first-child {
      width: 25px;
      top: 0;
    }
    &:nth-child(2) {
      top: 10px;
    }
    &:last-child {
      bottom: 0;
    }
  }
}

.mobile-nav-show {
  .header {
    &__right {
      position: fixed;
      right: 0;
    }
  }
  .mobile-nav-btn {
    background: rgba(255, 124, 64, 1);
    span {
      transition: ease 0.5s all;
      background-color: #fff;
      border-radius: 0;
      &:first-child {
        opacity: 0;
      }
      &:nth-child(2) {
        transform: rotate(45deg);
        top: 10px;
      }
      &:last-child {
        transform: rotate(-45deg);
        bottom: 10px;
      }
    }
  }
}
