.key-player {
  padding-top: 10px;
  padding-bottom: 90px;

  @media screen and (max-width: 768px) {
    padding-top: 91px;
  }

  &__header {
    margin-bottom: 30px;
  }

  &__clients-wrap {
    display: flex;
    align-items: center;
    padding-right: 40px;
    margin-bottom: 94px;

    @media screen and (max-width: 1000px) {
      padding: 0 10px 40px;
      margin-bottom: 135px;
    }

    @media screen and (max-width: 768px) {
      margin-bottom: 158px;
    }
  }

  &__clients {
    max-width: 100%;
    padding: 0 0px 0 7px;
    margin-left: -9px;

    .slick-dots {
      @media screen and (max-width: 768px) {
        bottom: 91px;
      }
    }
  }

  &__client {
    border-right: 0.5px dashed rgba(47, 48, 52, 1);
    height: 128px;

    @media screen and (max-width: 1440px) {
      height: 115px;
    }

    @media screen and (max-width: 768px) {
      height: 96px;
    }

    &-wrap {
      display: flex;
      align-items: center;
      padding: 0 144px 0 73px;
      height: 100%;

      @media screen and (max-width: 1440px) {
        padding: 0 130px 0 65px;
      }

      @media screen and (max-width: 1000px) {
        padding: 0 80px 0 40px;
      }

      @media screen and (max-width: 768px) {
        padding: 0 19px;

        .slick-dots {
          bottom: -95px;
        }
      }

      img {
        max-width: 130px;
        max-height: 100%;

        @media screen and (max-width: 768px) {
          max-width: 84px;
        }
      }
    }
  }

  &__prev,
  &__next {
    flex-shrink: 0;
  }

  &__clients-say {
    margin-top: 94px;

    @media screen and (max-width: 1440px) {
      margin-top: 84px;
    }

    @media screen and (max-width: 1000px) {
      margin-top: 135px;
    }

    @media screen and (max-width: 1000px) {
      margin-top: 111px;
    }

    &-container {
      display: flex;
      justify-content: space-between;
      max-width: 1223px;

      @media screen and (max-width: 1440px) {
        max-width: 1100px;
      }

      @media screen and (max-width: 1280px) {
        padding-right: 100px;
      }

      @media screen and (max-width: 1000px) {
        padding-right: 0px;
        justify-content: flex-start;
      }

      @media screen and (max-width: 768px) {
        display: block;
      }
    }

    &-info {
      max-width: 290px;

      @media screen and (max-width: 1000px) {
        max-width: 205px;
        flex-shrink: 0;
      }

      @media screen and (max-width: 768px) {
        margin-bottom: 33px;
        max-width: unset;
      }
    }

    &-header {
      margin-bottom: 34px;

      @media screen and (max-width: 768px) {
        margin-bottom: 24px;
      }
    }

    &-items {
      width: 577px;
      height: 600px;
      border-bottom: 39px solid #ff7c40;
      border-top: 39px solid #ff7c40;
      position: relative;
      margin-left: 70px;

      @media screen and (max-width: 1000px) {
        width: 428px;
        height: 450px;
        border-bottom: 29px solid #ff7c40;
        border-top: 29px solid #ff7c40;
        margin-left: 48px;
        padding: 67px 0 45px 53px;
      }

      @media screen and (max-width: 768px) {
        margin-left: 0;
        border-bottom: 24px solid #ff7c40;
        border-top: 24px solid #ff7c40;
        width: 100%;
        max-width: 450px;
        height: 373px;
        padding: 53px 0 0px 43px;
      }

      &-wrap {
        width: 617px;
        height: 100%;
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 1280px) {
          width: 540px;
        }

        @media screen and (max-width: 1000px) {
          width: auto;
          max-width: 429px;
        }

        & .slick-dots {
          left: -216px;
          width: unset;
          bottom: -92px;

          @media screen and (max-width: 1000px) {
            bottom: -76px;
            left: -146px;
          }

          @media screen and (max-width: 768px) {
            bottom: -64px;
            left: 0;
            width: 100%;
          }
        }
      }

      &::before,
      &::after {
        content: "";
        display: block;
        height: 100%;
        width: 39px;
        position: absolute;
        background: rgb(255, 124, 64);
        top: 0;

        @media screen and (max-width: 1000px) {
          width: 29px;
        }

        @media screen and (max-width: 768px) {
          width: 24px;
        }
      }

      &::before {
        background: linear-gradient(180deg,
            rgba(255, 124, 64, 1) 0%,
            rgba(255, 124, 64, 1) 17%,
            transparent 17%,
            transparent 84.5%,
            rgba(255, 124, 64, 1) 84.5%);

        left: 0;
      }

      &::after {
        background: linear-gradient(180deg,
            rgba(255, 124, 64, 1) 0%,
            rgba(255, 124, 64, 1) 17%,
            transparent 17%,
            transparent 93.5%,
            rgba(255, 124, 64, 1) 93.5%);
        right: 0;
      }

      padding: 87px 0 45px 69px;
      box-sizing: border-box;
    }

    &-item {
      height: 363px;
      display: flex !important;
      flex-direction: column;

      @media screen and (max-width: 1000px) {
        height: 273px;
      }

      &-text {
        flex-grow: 2;
      }

      &-text p {
        font-family: "Minion Pro";
        font-size: 19px;
        font-style: italic;
        font-weight: 500;
        line-height: 28.5px;
        letter-spacing: 0.003em;
        color: #4a4b4e;

        @media screen and (max-width: 1000px) {
          font-size: 15px;
          font-weight: 500;
          line-height: 19.5px;
          letter-spacing: 0.22906933724880219px;

        }
      }

      &-header {
        margin-bottom: 39px;
        padding-left: 4px;

        @media screen and (max-width: 1000px) {
          margin-bottom: 30px;
        }

        @media screen and (max-width: 768px) {
          margin-bottom: 24px;
        }

        img {
          max-width: 202px;

          @media screen and (max-width: 1000px) {
            max-width: 150px;
          }

          @media screen and (max-width: 768px) {
            height: 38px;
          }
        }
      }

      &-person {
        padding-left: 4px;
      }

      &-position {
        font-size: 15px;
        font-weight: 600;
        line-height: 22.5px;
        letter-spacing: 0.27000001072883606px;
        color: #ff7c40;
        margin-top: 15px;

        @media screen and (max-width: 1000px) {
          font-size: 12px;
          font-weight: 600;
          line-height: 18px;
          letter-spacing: 0.22906933724880219px;
          margin-top: 12px;
        }
      }
    }

    &-buttons {
      display: flex;
      align-items: flex-end;

      @media screen and (max-width: 1280px) {
        display: none;
      }
    }
  }
}