.logo {
  font-size: 32px;
  display: block;
  margin-top: -30px;
  margin-right: 17px;
  @media screen and (max-width: 1600px) {
    margin-right: 0;
  }
  @media screen and (max-width: 1440px) {
    width: 238px;
  }
  @media screen and (max-width: 1000px) {
    margin-top: -4px;
  }
  @media screen and (max-width: 768px){
    width: 218px;
    margin-top: -8px;
  }
}
