.menu {
  &__wrap {
    display: flex;
  }
  &__item {
    margin: 0 16px;
    @media screen and (max-width: 1440px) {
      margin: 0 10px;
    }
  }
  &__link {
    color: var(--text-color-white);
    font-size: 15px;
    line-height: 18px;
    display: block;
    letter-spacing: 0.2px;
  }
}

.mobile-menu {
  display: none;

  @media screen and (max-width: 1280px) {
    display: block;
    position: fixed;
    z-index: 5;
    padding: 148px 50px;
    top: 0;
    transition: ease 0.5s all;
    right: -400px;
    background: rgba(255, 124, 64, 0.98);
    height: 100%;
    width: 346px;
  }
  .menu {
    &__wrap {
      flex-direction: column;
    }
    &__item {
      margin: 16px 0;
    }
    &__link {
      font-size: 28px;
      font-weight: 300;
      line-height: 18px;
      letter-spacing: 0.20000000298023224px;
    }
  }
}

.mobile-nav-show {
  .mobile-menu {
    right: 0;
    transition: ease 0.5s all;
  }
}
