.menu {
  &__wrap {
    display: flex;
  }
  &__item {
    margin: 0 16px;
    @media screen and (max-width: 1440px) {
      margin: 0 10px;
    }
  }
  &__link {
    color: var(--text-color-white);
    font-size: 15px;
    line-height: 18px;
    display: block;
    letter-spacing: 0.2px;
  }
}
